/*
 * gce3x3macro.keymap
 *
 * Seeed XIAO nRF52840
 * 3x3 Macro Pad
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default";

            bindings = <
                &kp C_PREV   &kp C_PLAY_PAUSE   &kp C_NEXT
                &kp TAB   &kp UP   &kp KP_ENTER
                &kp LEFT   &kp DOWN   &kp RIGHT
                &studio_unlock &none  &none
            >;

            sensor-bindings = <
                &inc_dec_kp C_VOL_DN C_VOL_UP
            >;
        };
    };
};