/*
 * gce3x3macro-layouts.dtsi
 *
 * Physical layout for ZMK Studio
 */

#include <physical_layouts.dtsi>

/ {
    default_layout: default_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";

        transform = <&default_transform>;
        kscan = <&composite_kscan>;

        keys
            /* Row 1 */
            = <&key_physical_attrs 100 100   0   0   0 0 0>
            , <&key_physical_attrs 100 100 100   0   0 0 0>
            , <&key_physical_attrs 100 100 200   0   0 0 0>

            /* Row 2 */
            , <&key_physical_attrs 100 100   0 100   0 0 0>
            , <&key_physical_attrs 100 100 100 100   0 0 0>
            , <&key_physical_attrs 100 100 200 100   0 0 0>

            /* Row 3 */
            , <&key_physical_attrs 100 100   0 200   0 0 0>
            , <&key_physical_attrs 100 100 100 200   0 0 0>
            , <&key_physical_attrs 100 100 200 200   0 0 0>

            /* Encoder push button */
            , <&key_physical_attrs 100 100 375 100   0 0 0>
            ;
    };
};